@font-face {
	font-family: 'subjectivityextra_bold';
	src: url('./fonts/subjectivity-extrabold-webfont.woff2') format('woff2'),
		url('./fonts/subjectivity-extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'subjectivityregular';
	src: url('./fonts/subjectivity-regular-webfont.woff2') format('woff2'),
		url('./fonts/subjectivity-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
	--body-color: #f0ead8;
	--title-color: #021e66;
	--name-font: 'subjectivityextra_bold', sans-serif;
	--title-font: 'subjectivityregular', sans-serif;
	--normal-font: 'Montserrat', sans-serif;
}

/* --------------------BASE CSS------------------------- */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

body {
	background-color: var(--body-color);
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}

.container {
	height: 100%;
	margin-left: 3.5rem;
	margin-right: 3.5rem;
}
.full_page {
	height: 100%;
	display: inline-block;
	width: 100vw;
}
/* .main {
	height: 100%;
	/* overflow-x: scroll;
	width: 400%;
	display: flex;
	overflow-x: hidden;
}*/

/* ----------------------------NAVIGATION-------------------- */

.header {
	width: 100%;
	/* position: fixed; */
	top: 0;
	background-color: var(--body-color);
}
.nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 60px;
	margin: 0 auto;
	align-items: center;
}

.nav_list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 3rem;
	color: var(--title-color);
	font-size: 20px;
	font-family: var(--title-font);
}

.nav_list a:visited {
	text-decoration: none;
	color: var(--title-color);
}

/* ================================== HOME PAGE ================================== */

.home {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.name {
	/* 	margin-top: rem; */
	padding: 2.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
}
.my_name {
	flex-basis: 50%;
}
.my_name h1 {
	font-family: var(--name-font);
	font-size: 7vw;
	color: var(--title-color);
	margin: 0;
}
.title {
	flex-basis: 100%;
}
.title p {
	font-family: var(--title-font);
	padding: 2.5rem 3px;
	font-size: 26px;
	color: var(--title-color);
}
.intro {
	flex-basis: 50%;
}
.intro p {
	font-family: var(--title-font);
	font-size: 28px;
	color: var(--title-color);
}
.welcome {
	font-family: var(--title-font);
	font-size: 28px;
	color: var(--title-color);
	font-weight: bold;
	margin-top: -20px;
}

/* -----------------------------ABOUT SECTION----------------------------- */
.about {
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
	width: 100%;
	padding: 2.5rem;
	margin: 0 2.5rem;
}
.about_img img {
	width: 350px;
	height: 500px;
	border-radius: 15px;
}

.about__title {
	border: 1px solid var(--title-color);
}

.about__text h1 {
	font-size: 100px;
	font-family: var(--title-font);
}

.about_text {
	border: 1px solid var(--title-color);
}

.skill_sets {
	border: 1px solid var(--title-color);
}
.experience {
	border: 1px solid var(--title-color);
}

/* -----------------------CONTACT PAGE CSS-------------------------- */

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--title-color);
}

.hello {
	font-family: var(--name-font);
	font-size: 100px;
	text-align: center;
}
.headline {
	font-family: var(--title-font);
	font-size: 50px;
	text-align: center;
}

.contact_details p {
	font-family: var(--title-font);
	font-weight: 400;
	text-align: center;
	font-size: 14px;
}
.link {
	color: var(--title-color);
	border-bottom: 1px solid var(--title-color);
}
.link:visited {
	color: var(--title-color);
}
