@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

:root {
	--body-color: #ffffff;
	--title-color: #0b132b;
	--sub-text-color: #1c2541;
	--border-color: rgb(63, 55, 201);
	--name-font: 'Poppins', sans-serif;
	--title-font: 'Poppins', sans-serif;
	--text-font: 'Poppins', sans-serif;

	--header-height: 3.5rem;
}

/* --------------------BASE CSS------------------------- */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--body-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.full_page {
	height: 100vh;
	display: inline-block;
	width: 100%;
}

main {
	overflow: hidden;
}

h2,
h3,
h4 {
	font-family: var(--title-font);
}

/* section {
	margin-bottom: 50px;
} */

/* ----------------------------NAVIGATION-------------------- */

.header {
	width: 100%;
	display: inline-block;
	position: fixed;
	top: 0;
	backdrop-filter: blur(30px);
	z-index: 100;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 15px 2.5rem;
	align-items: center;
	height: calc(var(--header-height) + 1.5rem);
	column-gap: 4rem;
}

.nav_list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 4rem;
	color: var(--title-color);
	font-size: 18px;
	font-family: var(--title-font);
	font-weight: 500;
}

.nav_list a {
	color: var(--title-color);
}

.nav_link {
	display: inline-block;
	padding: 10px;
	border: 2px solid transparent;
	transition: all 0.1s ease-in;
}

.nav_link:hover {
	border: 2px solid var(--title-color);
	transition: all 0.3s ease-in !important;
}

.nav__close {
	display: none;
}

.nav__btns {
	display: none;
}

/* ================================== HOME PAGE ================================== */

.home {
	display: flex;
	align-items: center;
}

.name {
	padding: 0 2.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-top: 0px;
}

.my_name {
	flex-basis: 50%;
	order: 1;
}

.my_name h1 {
	font-family: var(--name-font);
	font-size: 7vw;
	color: var(--title-color);
	margin: 0;
	line-height: 7vw;
}

.title {
	flex-basis: 100%;
	order: 3;
}

.title p {
	font-family: var(--title-font);
	padding: 2.5rem 0;
	font-size: 1.6rem;
	color: var(--sub-text-color);
}

.intro {
	flex-basis: 50%;
	align-items: center;
	order: 2;
}

.intro p {
	font-family: var(--title-font);
	font-size: 1.75rem;
	color: var(--sub-text-color);
}

.welcome {
	font-family: var(--title-font);
	font-size: 1.75rem;
	color: var(--title-color);
	font-weight: bold;
	margin-top: -1.25rem;
}

/* -----------------------------ABOUT SECTION----------------------------- */

.about_desc {
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
	padding: 0 2.5rem;
	gap: 4rem;
	font-family: var(--text-font);
	font-weight: 400;
	align-items: center;
}

.about h1 {
	font-family: var(--title-font);
	color: var(--title-color);
}

.img_outer {
	width: 400px;
	height: 400px;
}

.img_outer img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	border: solid 3px var(--border-color);
	border-radius: 50%;
}

.about_title {
	margin-top: -0.6rem;
	font-size: 2.8125rem;
}

.about_text {
	padding: 1.5rem;
	flex-basis: 72%;
}

.aboutme {
	font-size: 18px;
	margin-bottom: 30px;
	line-height: 36px;
}

.underline-gradient {
	font-weight: 500;
	background: linear-gradient(
		90deg,
		hsla(238, 100%, 71%, 1) 0%,
		hsla(295, 100%, 84%, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: 100% 1em;
	background-position: 100% 88%;
	transition: background-size 0.25s ease-in;
	color: #ffffff;
	/* &:hover {
		background-size: 100% 88%;
		color: #ffffff;
	} */
}

.resume_link {
	padding: 9px 25px;
	border: 2px solid var(--border-color);
	border-radius: 50px;
	color: var(--sub-text-color);
	font-size: 16px;
	font-weight: 500;
	transition: 0.5s;
}

.resume_link:hover {
	background-color: var(--border-color);
	color: #ffffff;
}

.skill_sets,
.experience {
	flex-basis: 48%;
	padding: 1.5rem;
}

.skill_sets h1,
.experience h1 {
	font-size: 1.5rem;
	margin-bottom: 40px;
}

.skill_list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0;
	flex-wrap: wrap;
	gap: 2.5rem;
	margin-top: 20px;
	font-weight: 500;
}

.skill_list li {
	margin-top: 10px;
	text-align: center;
}

.skill_img img {
	width: 60px;
	height: 60px;
}

.experience h1 {
	margin-left: 25px;
}

.outer {
	border-left: 2px dashed var(--title-color);
	margin-left: 1.875rem;
	padding-left: 1.875rem;
}

.card {
	position: relative;
	margin: 0 0 1.25rem 1.25rem;
	padding: 8px 24px;
	border-radius: 20px;
	/* max-width: 400px; */
	border: 1px solid rgba(63, 55, 201, 0.025);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.175);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.086);
	backdrop-filter: blur(15px);
}

.title::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background: white;
	border-radius: 999px;
	left: -61px;
	border: 3px solid var(--border-color);
}

/* -----------------------PROJECTS PAGE CSS-------------------------- */
.project {
	font-family: var(--text-font);
	font-weight: 400;
}

.section_heading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 90px;
	margin-bottom: 80px;
}

.project_heading {
	font-family: var(--title-font);
	color: var(--title-color);
	font-size: 2.8125rem;
}

.project_cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
	gap: 80px;
}

.cards {
	display: flex;
	align-items: center;
	width: 75vw;
	/* max-width: 650px; */
	padding: 50px 30px 50px 20px;
	border: 1px solid rgba(63, 55, 201, 0.025);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.175);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.086);
	backdrop-filter: blur(19px);
}

.project_img {
	max-width: 300px;
	width: 350px;
	height: 350px;
	object-fit: cover;
	margin-left: -60px;
	margin-right: 30px;
	border-radius: inherit;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.149);
}

.project_tech {
	line-height: 18px;
}

.project_about {
	margin-bottom: 30px;
	line-height: 28px;
}

.project_links {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.project_link,
.source_link {
	padding: 9px 25px;
	border: 2px solid var(--border-color);
	border-radius: 50px;
	color: var(--sub-text-color);
	font-size: 18px;
	font-weight: 500;
	transition: color 0.3s ease-in-out;
}

.project_link:hover,
.source_link:hover {
	background-color: var(--border-color);
	color: #ffffff;
}

/* -----------------------CONTACT PAGE CSS-------------------------- */

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--title-color);
	padding: 0 10px;
}

.hello {
	font-family: var(--name-font);
	font-size: 100px;
	text-align: center;
}

.headline {
	font-family: var(--title-font);
	font-size: 2.8125rem;
	text-align: center;
}

.contact_details p {
	font-family: var(--text-font);
	font-weight: 400;
	text-align: center;
	font-size: 16px;
}

.link {
	color: var(--title-color);
}

.link:hover {
	color: #ffffff;
}

.underline-gradient-link {
	font-weight: 500;
	background: linear-gradient(
		90deg,
		hsla(238, 100%, 71%, 1) 0%,
		hsla(295, 100%, 84%, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: 100% 0.25em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
	color: #ffffff;

	&:hover {
		background-size: 100% 88%;
		color: #ffffff;
	}
}

/* -----------------------Background Gradient Effect CSS-------------------------- */
.gradient-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-color: hsla(0, 0%, 100%, 1);
	background-image: radial-gradient(
			at 74% 32%,
			hsla(268, 100%, 91%, 1) 0px,
			transparent 50%
		),
		radial-gradient(at 12% 73%, hsla(230, 100%, 88%, 1) 0px, transparent 50%),
		radial-gradient(at 74% 76%, hsla(214, 100%, 93%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 0%, hsla(215, 100%, 97%, 1) 0px, transparent 50%);
	filter: blur(5px);
}

/* -----------------------Responsive CSS-------------------------- */

@media screen and (min-width: 992px) and (max-width: 1920px) {
	.container {
		margin: 0 auto;
	}

	.about_img img {
		width: 400px;
		height: 490px;
	}

	.about_title {
		font-size: 2rem;
	}

	.about_text {
		flex-basis: 61%;
	}

	.aboutme {
		font-size: 16px;
		line-height: 27px;
	}

	.skill_sets {
		flex-basis: 45%;
	}

	.experience {
		flex-basis: 45%;
	}

	.project_cards {
		flex-wrap: wrap;
	}
}

@media (width <=989px) {
	.project {
		margin-left: 20px;
		margin-right: 20px;
		padding: 50px;
	}

	.project_cards {
		flex-direction: column;
	}

	.cards {
		flex-direction: column;
		text-align: center;
		margin: 0 40px;
		padding-left: 50px;
		padding-right: 50px;
		width: 100%;
	}

	.project_img {
		margin: -100px 0 30px 0;
		width: 100%;
		max-width: 350px;
		height: 100%;
	}
}

/* ----------For Small Devices (Phones, 769px and down)---------- */

@media screen and (max-width: 769px) {
	.container {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.nav {
		height: var(--header-height);
		padding: 15px;
	}

	.nav__close {
		display: block;
		color: var(--title-color);
		font-size: 1.25rem;
		position: absolute;
		top: 1rem;
		right: 1.25rem;
		cursor: pointer;
	}

	.nav__btns {
		display: block;
	}

	.nav__toggle {
		display: inline-flex;
		cursor: pointer;
		font-size: 1.25rem;
		color: var(--title-color);
	}

	.nav_list {
		display: flex;
		flex-direction: column;
		row-gap: 1.5rem;
	}

	.nav_link {
		display: inline-block;
		padding: 10px;
		border: 2px solid transparent;
		transition: all 0.1s ease-in;
		color: var(--title-color);
	}

	.nav_link:hover {
		color: #1c2541;
	}

	.nav_menu {
		position: fixed;
		background-color: var(--body-color);
		width: 60%;
		height: 100vh;
		top: 0;
		right: -100%;
		padding: 4rem 2rem 0 0;
		box-shadow: -2px 0 4px rgba(0, 0, 0, 0.086);
		border-radius: 1rem 0 0 1rem;
		transition: 0.3s;
		z-index: 100;
	}

	.show-menu {
		right: 0;
	}

	svg {
		width: 60px;
		height: 30px;
	}

	.home {
		display: flex;
	}

	.name {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(auto-fit, 1fr);
		grid-row-gap: px;
		padding: 0 1.5rem;
		align-items: start;
	}

	.my_name {
		order: 1;
	}

	.my_name h1 {
		font-size: 8vw;
	}

	.title {
		order: 2;
	}

	.intro p,
	.welcome {
		font-size: 4vw;
	}

	.intro {
		order: 3;
	}

	.welcome {
		font-size: 4vw;
		margin-top: 1px;
	}

	.title p {
		padding: 10px 0;
		font-size: 3vw;
	}

	.about_section {
		margin-top: 5rem;
	}

	.about_desc {
		padding: 0 1rem;
		gap: 15px;
		justify-content: center;
	}

	.img_outer {
		width: 150px;
		height: 150px;
	}

	.about_title {
		font-size: 1.5rem;
		text-align: center;
	}

	.about_text {
		padding: 12px;
		flex-basis: 100%;
	}

	.aboutme {
		font-size: 15px;
		line-height: 24px;
		text-align: justify;
	}

	.resume_link {
		padding: 6px 15px;
		font-size: 14px;
		text-align: center;
	}

	.skill_sets h1,
	.experience h1 {
		font-size: 1.25rem;
		text-align: center;
	}

	.skill_sets,
	.experience {
		flex-basis: 100%;
	}

	.skill_list {
		padding: 0;
		gap: 0.75rem;
		margin-top: 20px;
		font-weight: 500;
	}

	.skill_list li {
		font-size: 14px;
		text-align: center;
		width: 90px;
	}

	.skill_img img {
		width: 40px;
		height: 100%;
	}

	.experience h1 {
		margin-left: 0;
	}

	.outer {
		border: none;
		margin: 0;
		padding: 0;
	}

	.card {
		margin: 0.75rem 0;
		width: 100%;
	}

	.info {
		font-size: 13px;
		line-height: 16px;
	}

	.title::before {
		display: none;
	}

	.hello {
		font-size: 60px;
	}

	.headline {
		font-size: 30px;
	}

	.contact_details p {
		font-size: 13px;
		padding: 0 10px;
	}

	.section_heading {
		margin-top: 0;
	}

	.project {
		padding: 25px;
	}

	.project_links {
		justify-content: center;
	}

	.project_about {
		font-size: 15px;
		line-height: 20px;
	}

	.project_link,
	.source_link {
		font-size: 14px;
		padding: 10px 10px;
	}
}

@media screen and (min-width: 500px) and (max-width: 769px) {
	.container {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
}

@media screen and (min-width: 770px) and (max-width: 1025px) {
	.container {
		margin: 0 auto;
	}

	.my_name {
		flex-basis: 60%;
	}

	.my_name h1 {
		font-size: 9vw;
	}

	.intro {
		flex-basis: 40%;
	}

	.intro p,
	.welcome {
		font-size: 1.25rem;
	}

	.title p {
		font-size: 1.35rem;
	}

	.about_desc {
		justify-content: center;
	}

	.about_title {
		text-align: center;
	}

	.about_text {
		flex-basis: 100%;
		text-align: justify;
	}

	.skill_sets,
	.experience {
		flex-basis: 100%;
	}

	.skill_sets h1,
	.experience h1 {
		font-size: 1.25rem;
		text-align: center;
	}

	.contact_details {
		padding: 0 30px;
	}
}
